django
djangorestframework
djangorestframework_simplejwt
PyMySQL
django-cors-headers
django-filter
django-storages
whitenoise
drf_yasg
requests
user_agents
django-phonenumber-field 
phonenumbers
Pillow
