.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #f9f9f9;
}

.editorial-shadow {
    box-shadow: 0 32px 64px -12px rgba(0, 69, 13, 0.06);
}
